{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
<!--  -->
{% block title %} {{ title }} | {% endblock title %}
<!--  -->
{% block content %}
<!--  -->



<!-- ======= Services Section ======= -->
<section id="services">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-md-12">
                <h3 class="section-title">Our Services</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">View a wide range of services we offer and feel free to contact us with your own style and we will deliver everything on point.

                </p>
            </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="bi bi-table"></i></div>
                <h4 class="service-title"><a href="">Carpentry</a></h4>
                <p class="service-description">We ensure that our structures are built by specialized individuals. Our carpenters thrive through the use of creativity.
                    <br><br> {{ company }} shines through them!</p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="bi bi-house"></i></div>
                <h4 class="service-title"><a href="">Household DIY

                </a></h4>
                <p class="service-description">With our DIY services we ensure that all those small faults are fixed. We focus on the smallest details.

                </p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="bi bi-bar-chart"></i></div>
                <h4 class="service-title"><a href="">Ceiling Installation

                </a></h4>
                <p class="service-description">The interior surface is a space we also thrive in. We pay attention to detail, the lines, the structure, and design is important to how we do ceiling installations.

                </p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="bi bi-binoculars"></i></div>
                <h4 class="service-title"><a href="">Garden Maintenance

                </a></h4>
                <p class="service-description">We maintain your gardens to look fresh. We ensure your grass, flowers, and shrubs are well taken care of.

                </p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="bi bi-brightness-high"></i></div>
                <h4 class="service-title"><a href="">Flooring
                </a></h4>
                <p class="service-description">We apply our floors with finesse. Everything is leveled up, well applied to your needs.

                </p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="bi bi-shop-window"></i></div>
                <h4 class="service-title"><a href="">Tile Installation and Replacement
                </a></h4>
                <p class="service-description">Whether on the wall or the floor we replace and install. Our tiles stick and they are installed to last decades.

                </p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="bi bi-briefcase"></i></div>
                <h4 class="service-title"><a href="">Pool Cleaning</a></h4>
                <p class="service-description">Regular pool cleaning and chemical balancing is essential if you want to enjoy a clean and healthy swimming pool. Call today to get assistance with:
                </p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="bi bi-card-checklist"></i></div>
                <h4 class="service-title"><a href="">Pool Maintenance
                        </a></h4>
                <p class="service-description">Having a swimming pool requires maintenance and upkeep. If you don’t have time to do it yourself, one of our trusted swimming pool professionals will assist you.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="bi bi-bar-chart"></i></div>
                <h4 class="service-title"><a href="">Fibre Line
                        </a></h4>
                <p class="service-description">Gunite Pools, Marbelite Pools, Existing Fibre Pools, Koi ponds, Any pool surface that is damaged or leaks, Reduction of larger pools & completing with Fibre Lining
                </p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="bi bi-binoculars"></i></div>
                <h4 class="service-title"><a href="">Wood work
                        </a></h4>
                <p class="service-description">We can custom make cabinets to fit your kitchen, bar, dinning room or lounge. We can custom make a desk that fits your height. We want you to be happy with your work space.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="bi bi-brightness-high"></i></div>
                <h4 class="service-title"><a href="">Renovation
                        </a></h4>
                <p class="service-description">New Led Lights, New Suction and return Lines, New weir replacement, Pump & Filter replacements, New coping, Water features, Chlorinators
                </p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="bi bi-calendar4-week"></i></div>
                <h4 class="service-title"><a href="">Paving</a></h4>
                <p class="service-description">Driveway paving; Residential paving; Industrial paving; Parking areas; Kerbs; Patio paving; Walkway paving: Swimming pool paving; Warehouse paving.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="bi bi-binoculars"></i></div>
                <h4 class="service-title"><a href="">Plumbing
                        </a></h4>
                <p class="service-description">Pool Masters is equipped to meet all your plumbing needs. We provide the highest quality services at competitive prices with prompt, professional and friendly service.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="bi bi-brightness-high"></i></div>
                <h4 class="service-title"><a href="">Construction

                        </a></h4>
                <p class="service-description">Concrete Work, Metal Work, Aluminum and Glazing, Mechanical, Shopfitting, Joint Sealing, Plastering and Spalling, Ceiling and Partitioning, Tenant Installation, Roofing
                </p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="bi bi-calendar4-week"></i></div>
                <h4 class="service-title"><a href="">Painting</a></h4>
                <p class="service-description">Painting of your steel palisades, gates, doors, decks, thatch timber, garage doors, window frames, galvanized gutters and down pipes, etc. makes it rust/corrosion and your wood
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End Services Section -->



{% endblock content %}